attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
blis==0.2.4
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cymem==2.0.2
decorator==4.4.0
idna==2.8
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
jsonschema==3.0.1
mecab-python3==0.7
murmurhash==1.0.2
numpy==1.16.3
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.4.0
pyrsistent==0.15.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
spacy==2.1.4
srsly==0.0.5
thinc==7.0.4
tqdm==4.32.1
traitlets==4.3.2
urllib3==1.25.2
wasabi==0.2.2
wcwidth==0.1.7
